<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="28.3.2" targetFramework="net462" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net462" />
  <package id="EntityFrameworkDbModelStore" version="1.1" targetFramework="net462" />
  <package id="EntityFrameworkDbModelStore.BulkInsert" version="1.5" targetFramework="net462" />
  <package id="EntityFrameworkDbModelStore.MappingAPI" version="1.1" targetFramework="net462" />
</packages>